<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Trials</h1>

<%= form_with(url: scrape_trials_path) do %>
  <p>Add new Trial</p>
  <%= label_tag(:url, 'URL') %>
  <%= text_field_tag(:url) %>
  <%= submit_tag('Scrape trial', disabled_with: 'Strapping...') %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Actor</th>
      <th>Defendant</th>
      <th>Expedient</th>
      <th>Notifications</th>
      <th>Summary</th>
      <th>Court</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <td><%= trial.title %></td>
        <td><%= trial.actor %></td>
        <td><%= trial.defendant %></td>
        <td><%= trial.expedient %></td>
        <td>
          <% trial.notifications.each do |notification|%>
            <p><strong><%= notification.date %></strong></p>
            <p><%= notification.content %></p>
          <% end %>
        </td>
        <td><%= trial.summary %></td>
        <td><%= trial.court %></td>
        <td><%= link_to 'Show', trial %></td>
        <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
        <td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
